<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <%-include('../head/bootstrap.ejs')%>
</head>

<body>
  <%-include('../head/nav.ejs')%>
  <div class="wrap">
      <%-include(page)%>
  </div>
</body>
</html>